*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.hi
*.o
*.ps
*.synctex.gz
*.m~
*.prob~
*.toc
*.out
src/SCOOP

# generated folders under TestProblems
src/TestProblems/*

# generated folders under matlab
matlab/*/*

*.DS_Store
*.auxlock
